* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



body{
    background-color:#00040f;
    color: #ffff;
}
.navbar{
    display: flex;
    gap: 15em;
    padding-left: 7em;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 5em;
    padding-top: 2em;
}



.comment3{
    display: flex;
    padding: 7em 0em 0em 7em;
}
.twenty{
    display: flex;
    background-color:#3a3940 ;
    border-radius: 6px;
}
.discount{
    margin-top: 0.5em;
}
.the1{
    line-height: 50px;
    margin-top: 1em;
    font-size: 50px;
}
.spa{
    color: #3eddf0;
}
.team{
    text-transform: capitalize;
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    line-height: 170%;
}
.cover1{
    margin-top: -6em;
}




.user{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 2em;
}
.active{
    margin-top: 1em;
    font-size: 16px;
    color: #3eddf0;
}



.comment4{
    display: flex;
    gap: 10em;
    padding:9em 0em 0em 7em ;
}
.you h1{
    font-size: 40px;
    line-height: 60px;
}
.you p{
    padding-top: 30px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.70);
 }
.buttonA{
    padding-top: 50px;
}
.buttonB{
    background-color: #7ed7eb;
    width: 10em;
    height: 40px;
    border-radius: 6px;
    border: none;
} 
.reward{
    position: relative;
    left: 4.9em;
    bottom: 3em;
    font-size: 18px;
}
.credit{
    position: relative;
    left: 5.5em;
    line-height: 22px;
    bottom: 3em;
    color: rgba(255, 255, 255, 0.70); 
}
.star-area2{
    background-color: #3a3940;
    border-radius: 10px;
    width: 28em;
    height: 100px;
    margin-bottom: 20px;
}



.commentZb{
    display: flex;
}
.commentZ{
    display: flex;
    margin-left: 110px;
    padding-top: 100px;
}
.commentZa{
    margin-left: 110px;
}
.commentZa h1{
    font-size: 40px;
    line-height: 60px;
}
.commentZa p{
    line-height: 20px;
    padding-top: 30px;
}
.commentZb{
    padding-top: 35px;
}



.buttonD{
    background-color: #7ed7eb;
    width: 10em;
    height: 40px;
    border-radius: 6px;
    border: none;
}
.comment5 {
    padding-top: 200px;
    display: flex;
    margin-left: 100px;
}
.comment5a h1{
    font-size: 40px;
    line-height: 60px;
}
.comment5a P{
    line-height: 20px;
    padding-top: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.70);
}
.buttonC{
    padding-top: 50px;
}
.online{
    margin-left: 250px;
}



.comment6{
    display: flex;
    padding-top:150px;
    margin-left: 100px;
}
.ment6a{
    font-size: 20px;
    line-height: 60px;
}
.ment6b{
    margin-left: 350px;
    padding-top: 40px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.70);
}



.comment7{
padding-top: 100px;
display: flex;
margin-left: 100px;
gap: 150px;
}
.she{
    background-color:#3a3940;
    width: 16em;
    border-radius: 15px;
}
.her{
    margin-left: 10px;
    
}
.her h1{
    font-size: 100px;
    color: #67e3e7;
}
.her p{
    line-height: 25px;
}
.herimg{
    padding-top: 30px;
}
.Q{
    position: relative;
    left: 60px;
    bottom: 40px;
}
.Q h6{
    color:rgba(255, 255, 255, 0.70) ;
}
.herB h1{
    font-size: 100px;
    color: #67e3e7;
}
.herB p{
    line-height: 25px;
}
.steimg{
    padding-top: 30px;
}
.W{
    position: relative;
    left: 60px;
    bottom: 40px;
}
.W h6{
    color:rgba(255, 255, 255, 0.70) ;
}
.herC h1{
    font-size: 100px;
    color: #67e3e7;
}
.herC p{
    line-height: 25px;
}
.kenimg{
    padding-top: 30px;
}
.E{
    position: relative;
    left: 60px;
    bottom: 40px;
}
.E h6{
    color:rgba(255, 255, 255, 0.70) ;
}



.abcd{
    margin-top: 50px;
    display: flex;
    margin-left: 100px;
    padding-top: 80px;
    gap: 80px;
}



.sonA{
    margin-left: 70px;
    padding-top: 50px;
}
.sonA h1{
    font-size: 50px;
    padding-bottom: 30px;
}
.sonA p{
    color:rgba(255, 255, 255, 0.70);
    line-height: 25px;
    padding-bottom: 30px;
}
.dad{
    display: flex;
    margin-top: 90px;
    background-color:#3a3940;
    width: 67em;
    border-radius: 12px;
    margin-left: 100px;
}
.moon{
    background-color: #7ed7eb;
    width: 10em;
    height: 50px;
    border-radius: 6px;
    border: none;
}
.sonB{
    padding-top: 100px;
    margin-left: 150px;
}



.lin{
    width: 69em;
    margin-left: 100px;
}
.footer{
    display: flex;
    margin-top: 100px;
    padding-top: 50px;
    margin-left: 100px;
    gap: 270px;
    line-height: 30px;
    padding-bottom: 50px;
    background-color: #06080d;
    width: 1100px;
}
.footer h1{
    font-size: 19px;
}
.biend p{
    padding-top: 30px;
    color:rgba(255, 255, 255, 0.70);
}
.colos{
    display: flex;
    padding-top: 30px;
    gap: 100px;
}
.colos h1{
    padding-bottom: 30px;
}
.colos p{
    color:rgba(255, 255, 255, 0.70);
}
.footer2{
    display: flex;
    padding-top: 50px;
    margin-left: 100px;
    gap: 650px;
    background-color: #06080d;
    
}
.footer2 p{
    color:rgba(255, 255, 255, 0.70);
    
}